<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        {% block page_title %}
        
        {% endblock page_title %} | Lakeflix
    </title>
    <!--제이쿼리-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!--noto sans 폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    {% block others %}
    
    {% endblock others %}
</head>

<body>
    <!--헤더-->
    {% if user.is_authenticated %}
        {% include "partials/nav.html" %}
    {% endif %}
    <!--헤더-->

    <!--콘텐츠-->
    {% block content %}

    {% endblock %}
    <!--콘텐츠-->

    <!--푸터-->
    {% if user.is_authenticated %}
        {% include "partials/footer.html" %}
    <!--푸터-->
    {% endif %}
    
    {% block script %}
    
    {% endblock script %}
</body>
</html>