{% extends "base.html" %}
{% load static %}
{% block page_title %}
회원가입
{% endblock page_title %}
{% block others %}
<link rel="stylesheet" href="{% static 'css/users.css'%}">
{% endblock others %}
{% block content %}
<div class="container">
    <h1>
        <a href="#">
            <img src="{% static 'img/logo.png'%}" alt="lakeflix logo">
            <span>Lakeflix</span>
        </a>
    </h1>
    <h2>회원가입</h2>
    <form method="post" action="{% url 'users:signup' %}">
        {% csrf_token %}
        <div class="input_block">
            <input type="text" name="username" id="username" required spellcheck="false">
            <span class="placeholder">
                아이디
            </span>
        </div>
        <div class="input_block">
            <input type="password" name="password" id="password" required spellcheck="false">
            <span class="placeholder">
                비밀번호
            </span>
        </div>
        <div class="input_block">
            <input type="password" name="password2" id="password2" required spellcheck="false">
            <span class="placeholder">
                비밀번호 확인
            </span>
        </div>
        <div class="input_block">
            <input type="text" name="firstname" id="firstname" required spellcheck="false">
            <span class="placeholder">
                성
            </span>
            <input type="text" name="lastname" id="lastname" required spellcheck="false">
            <span class="placeholder lastname">
                이름
            </span>
        </div>
        <div class="input_block gender">
            <select name='gender' id="gender" required>
                <option value='male'>남자</option>
                <option value='female'>여자</option>
                <option value='other'>기타</option>
            </select>
            <span class="placeholder">
                성별
            </span>
        </div>
        <div>
            <label for="avatar">프로필 사진</label>
            <input type="file" accept=".jpg, .png" id="avatar" name="avatar">
        </div>
        <div class="input_block">
            <input type="email" name="email" id="email" required spellcheck="false">
            <span class="placeholder">
                이메일
            </span>
        </div>
        <div class="input_block">
            <textarea name="bio" cols="40" rows="10" id="id_bio" required></textarea>
            <span class="placeholder bio">
                자기소개
            </span>
        </div>
        <button type="submit" class="signup">회원가입</button>
    </form>
</div>
{% endblock content %}